
.content__card-without-image{
    padding: 5px;

}
.hidden-content__card-without-image{
    font-size: 12px;
    padding: 5px;
    margin-bottom: 15px;
    span{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #969696;
    }
}
.card__subtitle{
    font-size: 18px;
    color: #000000;
}
.card__value{
    font-size: 12px;
    color: #969696;
    margin-bottom: 8px;
}
.card__square{
    background: #25A510;
    color: #FFFFFF;
    width: 4rem;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
.card__details{
    display: flex;
    margin-top: -15px;


 

}
.card__details .img{
    display: inline-block;
    font-size: 18px;
    margin-right: -20px;
}
.card__details .img-hidden{
    color: #F06800;
}
.card__details-button{
    display: inline-block;
    background: #F06800;
    border-radius: 0px 0px 2px 2px;
    color: white;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    vertical-align: bottom;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.card__details-button:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }
  .card__details-button:hover {
    background: darkorange;
  }

.hidden-card__details-button{
    display: inline-block;
    background: white;
    border-radius: 0px 0px 2px 2px;
    color: #F06800;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    vertical-align: bottom;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hidden-card__details-button button{
    border-bottom: 1px solid #F06800;
}
.hidden-card__details-button:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }


.card__price-square-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

}
.card__price-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.newprice-bold{
    font-weight: 500;
    font-size: 18px;
}
.card__oldprice{
    color: #969696;
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: line-through;
    line-height: 14px;
}
