$button_color: #378C06;

.header{
    padding: 5px 15% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    &__logo{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        line-height: 14px;
    }
    &__logo-img{
        width: 6rem;
        display: inline-block;
    }
    .icon{
        width: 0.9rem;
        line-height: 0.5rem;
        display: inline-block;
        margin-right: 5px;
    }
    &__tel-block{
        font-weight: 500;
    }
    &__tel-btn{
        background: $button_color;
        border-radius: 30px;
        width: 170px;
        color: white;
        border: none;
        cursor: pointer;
        &:hover { background: darkgreen; }
        }
    }
